{% set show_start_button = true %}
{% include 'header1.html' %}
<section class="ftco-section background-image"
 style="background-image: url('../static/images/bg.webp'); ">

 <p class="description">
    <span class="auto"">Face</span>
    <span class="pricer"">Identifier</span><br>
        Embark on a revolutionary journey into the realm of facial detection and recognition with our state-of-the-art technology. Our <span class="highlight-text">IntelliFace Identifier</span> combines precision and innovation, offering an unparalleled experience in facial analysis.
    </p>
    


</section>
{% include 'footer.html' %}